* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-size: 16px;
	font-family: 'Alata', sans-serif;
	font-family: 'Josefin Sans', sans-serif;
}
.container-fluid {
	margin: 0 15%;
}
/* small screen */
@media (max-width: 500px) {
	.container-fluid {
		margin: 0;
	}
	#header {
		background-image: url(images/mobile/image-hero.jpg);
		background-repeat: no-repeat;
		height: 860px;
		background-size: cover;
	}
	.nav-logo-wrapper {
		padding-top: 3%;
	}
	.nav-link {
		color: white;
	}
	.header-title-text {
		width: 90%;
		font-size: 3.5rem;
		line-height: 1.2;
		color: hsl(0, 0%, 100%);
		margin: 200px 0;
		padding: 40px;
		border: 1px solid hsl(0, 0%, 100%);
	}
	.leader-img {
		padding-top: 100px;
		padding-bottom: 60px;
		width: 90%;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
	.leader-text-wrapper {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
	.leader-title {
		display: block;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
		padding-bottom: 30px;
		line-height: 1.2;
		font-size: 2rem;
		width: 70%;
	}
	.leader-paragraph {
		display: block;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
		padding-bottom: 100px;
		line-height: 1.5;
		font-size: 1.2rem;
		width: 80%;
	}
	#creations {
		margin-top: 50px;
		margin-bottom: 120px;
	}
	.cr-img-desktop {
		display: none;
	}
	.creations-img-wrapper {
		display: flex;
		flex-direction: column;
	}
	.creations-title-wrapper {
		margin-left: auto;
		margin-right: auto;
		text-align: center;
	}
	.creations-title {
		font-size: 2.2rem;
	}
	.creations-tile-wrapper {
		position: relative;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
	}
	.cr-img-text {
		color: hsl(0, 0%, 100%);
		position: absolute;
		left: 35px;
		bottom: 35px;
		font-size: 1.8rem;
		text-align: left;
	}
	.cr-img-mobile {
		width: 90vw;
		margin: 15px 0;
	}
	/* .creations-img-tiles {
		display: flex;
		flex-direction: column;
	} */
	.creations-btn {
		order: 3;
		margin-top: 40px;
		padding: 10px 50px;
		border: 1px solid hsl(0, 0%, 0%);
		display: block;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
	}
	#footer {
		height: 47vh;
		background-color: hsl(0, 0%, 0%);
	}
	.footer-wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.footer-logo {
		padding: 9% 0;
	}
	.nav-social-media {
		order: 2;
		padding: 5% 0;
	}
	.nav-social-media-link {
		padding: 7px;
	}
	.footer-nav ul {
		list-style: none;
		padding-bottom: 3%;
	}
	.footer-nav-link {
		padding-bottom: 20%;
		text-decoration: none;
		color: hsl(0, 0%, 100%);
		display: block;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
	}
	.copyright {
		order: 4;
	}
	.copyright-text {
		color: hsl(0, 0%, 100%);
	}
}

/* large screen */
/* at 501px and lower stop doing these styles */
/* do these style at 501px and up */
@media (min-width: 501px) {
	.container-fluid {
		margin: 0 15%;
	}

	#header {
		background-image: url(images/desktop/image-hero.jpg);
		background-repeat: no-repeat;
		height: 650px;
		background-size: cover;
	}
	.nav-logo-wrapper {
		padding-top: 2%;
	}
	.nav-link {
		color: hsl(0, 0%, 100%);
	}
	.nav-link:hover {
		border-bottom: 1px solid hsl(0, 0%, 100%);
		color: hsl(0, 0%, 100%);
	}
	.header-title-text {
		width: 50%;
		font-size: 4.5rem;
		line-height: 1.2;
		color: hsl(0, 0%, 100%);
		margin: 120px 0;
		padding: 40px;
		border: 1px solid hsl(0, 0%, 100%);
	}
	.leader-img-wrapper {
		display: flex;
		flex-direction: row;
		padding-top: 150px;
	}
	.leader-img {
		padding-top: 0;
		padding-bottom: 0;
		width: 50%;
	}
	.leader-text-wrapper {
		width: 50%;
		position: relative;
		top: 200px;
		left: -200px;
		background-color: hsl(0, 0%, 100%);
		padding: 60px 30px;
	}
	.leader-title {
		text-align: center;
		line-height: 1.2;
		font-size: 2rem;
		width: 70%;
	}
	.leader-paragraph {
		text-align: center;
		padding: 45px 0px;
		padding-top: 75px;
		line-height: 1.5;
		font-size: 1rem;
		width: 70%;
	}
	#creations {
		margin: 190px 0;
	}
	.container-fluid-creations {
		margin: 0 15%;
	}
	.cr-img-mobile {
		display: none;
	}
	.cr-img-desktop {
		width: 100%;
	}
	.cr-img-desktop:hover {
		opacity: 50%;
	}

	.creations-title {
		font-size: 2.5rem;
		display: block;
	}
	.creations-tile-wrapper {
		width: fit-content;
		position: relative;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
	.cr-img-text {
		color: hsl(0, 0%, 100%);
		position: absolute;
		left: 35px;
		bottom: 35px;
		font-size: 1.8rem;
	}
	.creations-tile-wrapper:hover > .cr-img-text {
		color: hsl(0, 0%, 0%);
	}
	.creations-img-tiles {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		gap: 10px;
	}
	.creations-btn {
		/* margin-top: 40px; */
		padding: 10px 50px;
		border: 1px solid hsl(0, 0%, 0%);
		background-color: hsl(0, 0%, 100%);
		display: block;
		margin-left: auto;
		margin-bottom: 30px;
	}
	.creations-btn:hover {
		color: hsl(0, 0%, 100%);
		background-color: hsl(0, 0%, 0%);
	}
	#footer {
		height: 100%;
		background-color: hsl(0, 0%, 0%);
	}
	.container-fluid-footer {
		margin: 0 15%;
	}
	.footer-wrapper {
		padding: 50px 0;
		display: grid;
		grid-template-columns: auto auto;
		grid-template-rows: repeat(2, 1fr);
	}
	.footer-logo {
		padding-bottom: 40px;
	}
	.nav-social-media {
		justify-self: end;
		padding-bottom: 40px;
	}
	.nav-social-media-link {
		padding: 8px;
		border-bottom: 1px solid hsl(0, 0%, 0%);
	}
	.nav-social-media-link:hover {
		border-bottom: 1px solid hsl(0, 0%, 100%);
	}
	.footer-nav ul {
		list-style: none;
	}
	.footer-nav-link {
		text-decoration: none;
		color: hsl(0, 0%, 100%);
		padding: 8px;
	}
	.footer-nav-link:hover {
		color: hsl(0, 0%, 100%);
		border-bottom: 1px solid hsl(0, 0%, 100%);
	}
	.copyright {
		justify-self: end;
	}
	.copyright-text {
		color: hsl(0, 0%, 100%);
	}
}
